.App {
  text-align: center;
  background-color: #e8e8e8;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App_paper {
  height: 94vh;
  width: 96vw;
  display:"flex";
  flex-direction:"column";
  
}

.root{
  height: auto;
  flex: 1;
  overflow: hidden;
}

.tabs{
  height: auto;
  overflow: hidden;
}

.tab_views{
  /* height: "50%" !important; */
  flex-grow: 1;
  overflow: hidden;
}


.tabel_panel_paper{
  height: inherit;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20 px;
  font-size: calc(10px + 2vmin);
  background-color: "#e8e8e8";
  overflow: hidden;
  padding-top: 20px;
}

.text_size{
  font-size: calc(10px + 1vmin);
}

.section-row{
  display:"flex";
  flex-direction:"row";
  padding: 20 px;
  font-size: calc(10px + 2vmin);
}

.section-column{
  
  display:"flex";
  flex-direction:"column";
  padding: 20 px;
  font-size: calc(10px + 2vmin);
}